@charset "utf-8";

body{
    background-image: linear-gradient(to right, white, blue);

}
header > h1{
    text-shadow:1px 1px   white;
    box-shadow:1px 0px 1px 0px;
    text-align:center;
    min-width:280px;
    max-width:900px;
    margin:auto;
    padding:40px 20px;
}

nav a {

    font-size: 15px;
    background-color:white;
    color:black;
    font-weight:bolder;
    border-radius: 0px 20px 0px 20px;
    min-width: 280px;
    max-width: 900px;
    padding:10px;

    margin:center;
}

nav >a {
    text-decoration:none;
    
}

nav >:hover{
    background-color:blue;
}

main article{

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px 20px 20px 20px;

    text-align:center;

    text-indent:30px;

    background-color:white;

    border-radius:0px 10px 10px 10px;
    min-width:280px;
    max-width:900px;

    line-height: 2em;

    margin:30px 20px 20px 20px;
}
main article >p{
    background-color:white;
    line-height: 2em;
}
div > h2{
    text-shadow:1px 1px   white;
    text-align: center;
}

div > p {
    font-weight:bold;

    font-family:arial,helvetica,sans-serif;

    background-color: white;

    text-align:justify;

    text-indent:30px;

    line-height: 2em;

    border-radius:10px 10px 10px 10px;
    min-width:280px;
    max-width:900px;
    padding:20px 20px;

    margin:auto;
}
div p >a {
    text-decoration:none;
}

